hr{
  border-width:1px; 
  border-style:solid; 
  border-color:white; 
}

.specific-place {
    position: absolute;
    top: 100px; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
    color: WHITE;
    font-style: italic; 
    font-size: 20px;
  
                          
}
